<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snapup_android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapUp_Android">
        <activity android:name=".settings.SettingsActivity"></activity>
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".viewInfo.TrainInfo" />
        <activity android:name=".viewOrder.OrderInfo" />
        <activity
            android:name=".Homepage.HomepageActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar" />
        <activity
            android:name=".feedback.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar" />
        <activity android:name=".completeOrder.CompleteOrderActivity" />
        <activity
            android:name=".viewInfo.ViewInfoActivity"
            android:label="@string/title_activity_view_info"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar" />
        <activity
            android:name=".viewOrder.ViewOrderActivity"
            android:label="@string/title_activity_view_order"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>