<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snapup_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapUp_Android">
        <activity
            android:name=".Homepage.HomepageActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar"></activity>
        <activity
            android:name=".feedback.feedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar" />
        <activity android:name=".completeOrder.completeOrderActivity" />
        <activity
            android:name=".viewInfo.viewInfoActivity"
            android:label="@string/title_activity_view_info"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar" />
        <activity
            android:name=".viewOrder.viewOrderActivity"
            android:label="@string/title_activity_view_order"
            android:theme="@style/Theme.SnapUp_Android.NoActionBar" />
        <activity android:name="com.example.snapup_android.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>