<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.snapup_android.dao.OrderMapper">

    <insert id="createOrder" parameterType="Order">
        insert into snapup.order(purchase_time, ticket_id, coach_id, seat_id, seat_type, run_serial, depart_station_idx, arrival_station_idx, passenger_id, username, price)
        values(#{purchase_time}, #{ticket_id}, #{coach_id}, #{seat_id}, #{seat_type}, #{run_serial}, #{depart_station_idx}, #{arrival_station_idx}, #{passenger_id}, #{username}, #{price})
    </insert>

    <update id="updateOrder" parameterType="Order">
        update snapup.order
        set purchase_time = #{purchase_time},ticket_id = #{ticket_id},coach_id = #{coach_id}, seat_id = #{seat_id},#{seat_type}=seat_type, run_serial = #{run_serial},depart_station_idx = #{depart_station_idx},arrival_station_idx = #{arrival_station_idx}, passenger_id=#{passenger_id}, username=#{username}, price=#{price}
        where ticket_id = #{ticket_id}
    </update>

    <select id="findOrderByTicketId" resultType="Order">
        select * from snapup.order
        where ticket_id = #{ticket_id}
    </select>

    <select id="findOrderByUsername" resultType="Order">
        select * from snapup.order
        where username = #{username}
    </select>

    <select id="findOrder" resultType="Order">
        select * from snapup.order
        where username = #{username} and run_serial = #{run_serial} and passenger_id = #{passenger_id}
    </select>

    <delete id="deleteOrder" parameterType="int">
        delete from snapup.order
        where username = #{username} and run_serial = #{run_serial} and passenger_id = #{passenger_id}
    </delete>


</mapper>