<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.snapup_android.dao.RestrictedUsrMapper">

    <insert id="createRestrictedUsr" parameterType="RestrictedUsr">
        insert into snapup.restricted_usr(`name`, identity_id)
        values(#{name}, #{identity_id})
    </insert>


    <select id="findRestrictedUsr" resultType="RestrictedUsr">
        select * from snapup.restricted_usr
        where identity_id = #{identity_id}
    </select>

    <delete id="updateRestrictedUsr" parameterType="int">
        delete from snapup.restricted_usr where identity_id=#{identity_id}
    </delete>


</mapper>